{% extends "base.html" %}

{% block title %}Langages de programmation{% endblock %}

{% block content %}
<div class="page-background">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Langages de programmation</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for language in languages %}
      <div class="bg-white overflow-hidden card">
        <!-- Déplacer le nom du langage et le badge de type en haut -->
        <div class="p-4 flex justify-between items-center">
          <h2 class="text-xl font-semibold mb-0">{{ language.name }}</h2>
          {% if language.type %}
          <span class="type-badge {{ language.type|lower }}">{{ language.type }}</span>
          {% endif %}
        </div>
        
        <div class="image-container">
          {% if language.logo_svg %}
          <div class="svg-container" data-no-tailwind>
            {{ language.logo_svg|safe }}
          </div>
          {% endif %}
        </div>
        
        <div class="p-4">
          <div class="flex flex-col mb-2">
            {% if language.year_created %}
            <span class="text-gray-600 text-sm">Créé en {{ language.year_created }} {% if language.creator %}par {{ language.creator }}{% endif %}</span>
            {% endif %}
          </div>
          {% if language.short_description %}
          <p class="mb-4 text-gray-700">{{ language.short_description|truncatewords:10 }}</p>
          {% elif language.description %}
          <p class="mb-4 text-gray-700">{{ language.description|truncatewords:10 }}</p>
          {% endif %}
          <div class="flex justify-start items-center">
            <a href="{% url 'languages:detail' language.slug %}" class="view-more-btn">
              Voir plus
            </a>
          </div>
        </div>
      </div>
      {% empty %}
      <p>Aucun langage trouvé.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
